In [1]:
import pandas as pd
from matplotlib import pyplot as plt
plt.ylim(0, 100)
import ipywidgets as ipy
import seaborn as sns
import plotly
import plotly.express as px
import plotly.io as pio
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import bqplot
import numpy as np
import ipywidgets as ipy
from ipywidgets import interact
#from bqplot import pyplot as plt
from bqplot import LinearScale, Lines, Axis, Figure, DateScale, ColorScale

In [2]:
df = pd.read_csv("Finance_data.csv")

In [3]:
df.head()

,gender,age,Investment_Avenues,Mutual_Funds,Equity_Market,Debentures,Government_Bonds,Fixed_Deposits,PPF,Gold,...,Duration,Invest_Monitor,Expect,Avenue,What are your savings objectives?,Reason_Equity,Reason_Mutual,Reason_Bonds,Reason_FD,Source
0,Female,34,Yes,1,2,5,3,7,6,4,...,1-3 years,Monthly,20%-30%,Mutual Fund,Retirement Plan,Capital Appreciation,Better Returns,Safe Investment,Fixed Returns,Newspapers and Magazines
1,Female,23,Yes,4,3,2,1,5,6,7,...,More than 5 years,Weekly,20%-30%,Mutual Fund,Health Care,Dividend,Better Returns,Safe Investment,High Interest Rates,Financial Consultants
2,Male,30,Yes,3,6,4,2,5,1,7,...,3-5 years,Daily,20%-30%,Equity,Retirement Plan,Capital Appreciation,Tax Benefits,Assured Returns,Fixed Returns,Television
3,Male,22,Yes,2,1,3,7,6,4,5,...,Less than 1 year,Daily,10%-20%,Equity,Retirement Plan,Dividend,Fund Diversification,Tax Incentives,High Interest Rates,Internet
4,Female,24,No,2,1,3,6,4,5,7,...,Less than 1 year,Daily,20%-30%,Equity,Retirement Plan,Capital Appreciation,Better Returns,Safe Investment,Risk Free,Internet

In [4]:
data = df[['gender','age','Mutual_Funds', 'Equity_Market', 'Government_Bonds', 'Fixed_Deposits']]

In [5]:
data.head()

   gender  age  Mutual_Funds  Equity_Market  Government_Bonds  Fixed_Deposits
0  Female   34             1              2                 3               7
1  Female   23             4              3                 1               5
2    Male   30             3              6                 2               5
3    Male   22             2              1                 7               6
4  Female   24             2              1                 6               4

In [6]:
df_age = df.groupby('age', as_index = False).agg({"Mutual_Funds":"sum","Equity_Market":"sum","Government_Bonds":"sum", "Fixed_Deposits":"sum"})
df_age

    age  Mutual_Funds  Equity_Market  Government_Bonds  Fixed_Deposits
0    21             3              5                 8              11
1    22             2              1                 7               6
2    23             4              3                 1               5
3    24            11             10                18              10
4    25             9             11                16               8
5    26            10             14                19               7
6    27            19             27                28              28
7    28             5              5                 9               9
8    29            13             17                27              14
9    30             6             14                12               9
10   31             7             14                21              15
11   32             3              4                 5               1
12   34             6              6                 5              14
13   35             4              8                10               6

In [7]:
df_gender = df.groupby('gender', as_index = False).agg({"Mutual_Funds":"sum","Equity_Market":"sum","Government_Bonds":"sum", "Fixed_Deposits":"sum"})
df_gender

   gender  Mutual_Funds  Equity_Market  Government_Bonds  Fixed_Deposits
0  Female            41             50                65              63
1    Male            61             89               121              80

In [8]:
total_mutual= df.groupby("age")["Mutual_Funds"].sum() #finding total square footage based on year acquired

In [9]:
float(max(total_mutual.values)), float(min(total_mutual.values))

(19.0, 2.0)

In [10]:
x = bqplot.LinearScale(max=max(df['age']), min=min(df['age']))

In [11]:
y = bqplot.LinearScale(max = float(max(total_mutual.values)),min=float(min(total_mutual.values)))

In [12]:
x_age  = bqplot.Axis(scale = x, label = 'Age')
y_mutual  = bqplot.Axis(scale = y, label = 'Mutual_Funds', orientation = 'vertical')


pan = bqplot.interacts.PanZoom(scales={'x':[x],'y':[y]})


finance_bar = bqplot.Bars(x=total_mutual.index, y=total_mutual.values, scales={'x':x, 'y':y})

figb = bqplot.Figure(marks = [finance_bar], axes = [x_age,y_mutual],interaction=pan)

In [13]:
figb

Figure(axes=[Axis(label='Age', scale=LinearScale(max=35.0, min=21.0)), Axis(label='Mutual_Funds', orientation=â€¦

In [14]:
pivot_table_finance = pd.pivot_table(df, values='Mutual_Funds', index='gender',
                    columns='age', aggfunc=np.sum)
#Finding the total Mutual Funds for a unique set of age and gender

In [15]:
pivot_table_finance

age,21,22,23,24,25,26,27,28,29,30,31,32,34,35
gender,,,,,,,,,,,,,,
Female,1.0,NaN,4.0,11.0,2.0,2.0,3.0,5.0,NaN,NaN,2.0,3.0,6.0,2.0
Male,2.0,2.0,NaN,NaN,7.0,8.0,16.0,NaN,13.0,6.0,5.0,NaN,NaN,2.0

In [16]:
pivot_table_finance.fillna(0)

age,21,22,23,24,25,26,27,28,29,30,31,32,34,35
gender,,,,,,,,,,,,,,
Female,1.0,0.0,4.0,11.0,2.0,2.0,3.0,5.0,0.0,0.0,2.0,3.0,6.0,2.0
Male,2.0,2.0,0.0,0.0,7.0,8.0,16.0,0.0,13.0,6.0,5.0,0.0,0.0,2.0

In [17]:
pivot_table_finance.columns

Int64Index([21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35], dtype='int64', name='age')

In [18]:
#Grid Heatmap

#setting the color scale, x and y axis scales
col1 = bqplot.ColorScale(scheme='Red')
x1 = bqplot.OrdinalScale()
y1 = bqplot.OrdinalScale()

#Axes
col_ax = bqplot.ColorAxis(scale=col1, orientation='vertical', side='right')
x_ax = bqplot.Axis(scale=x1)
y_ax = bqplot.Axis(scale=y1, orientation='vertical')

#Mark (heatmap)
heat_map = bqplot.GridHeatMap( color = pivot_table_finance,row= pivot_table_finance.index,
                              column = pivot_table_finance.columns,
                              scales={'color':col1, 'row':y1, 'column':x1},
                              interactions={'click':'select'},
                              selected_style={'fill':'blue'})


# plotting the heatmap
fig = bqplot.Figure(marks=[heat_map],axes=[col_ax, x_ax, y_ax])
fig

Figure(axes=[ColorAxis(orientation='vertical', scale=ColorScale(scheme='Red'), side='right'), Axis(scale=Ordinâ€¦

In [19]:
myLabel=ipy.Label() #defining a label element

## Visualization 1

In [20]:
#Grid Heatmap

col1 = bqplot.ColorScale(scheme='Red')
x1 = bqplot.OrdinalScale()
y1 = bqplot.OrdinalScale()

#Axes
col_ax = bqplot.ColorAxis(scale=col1, orientation='vertical', side='right')
x_ax = bqplot.Axis(scale=x1, label = 'gender')
y_ax = bqplot.Axis(scale=y1, label = 'age', orientation='vertical')

#Mark (heatmap)
heat_map = bqplot.GridHeatMap(color= pivot_table_finance, row= pivot_table_finance.index,
                              column = pivot_table_finance.columns,
                              scales={'color':col1, 'row':y1, 'column':x1},
                              interactions={'click':'select'},
                              selected_style={'fill':'blue'})

#Function 
def on_selection(change):
    if len(change['owner'].selected==1):
        i,j=change['owner'].selected[0]
        v=pivot_table_finance.iloc[i,j].mean()
        myLabel.value='Mean of Total Mutual Funds ='+str(v)
        
        #linking bar plot and grid heatmap together
        f1 = pivot_table_finance[pivot_table_finance.index.str.contains(pivot_table_finance.index[i])]
        fm = df[df['gender'] == f1.index.values[0]]
        total_mutual_fund= fm.groupby("age")["Mutual_Funds"].sum()
        finance_bar.x = total_mutual_fund.index
        finance_bar.y = total_mutual_fund.values



#Calling the function created for interaction
heat_map.observe(on_selection,'selected')

# plotting grid heatmap
fig = bqplot.Figure(marks=[heat_map],axes=[col_ax, x_ax, y_ax])

#Dashboard (with grid heatmap on left side and bar plot on right side)
figures = ipy.HBox([fig,figb])
fig.layout.min_width='500px'  #figure size of grid heatmap
figb.layout.min_width='500px' #figure size of bar plot
myDashboard = ipy.VBox([myLabel,figures])
myDashboard

VBox(children=(Label(value=''), HBox(children=(Figure(axes=[ColorAxis(orientation='vertical', scale=ColorScaleâ€¦

## Visualization 2

In [21]:
df_gender = df.groupby('gender', as_index = False).agg({"Mutual_Funds":"sum","Equity_Market":"sum","Government_Bonds":"sum", "Fixed_Deposits":"sum"})

In [22]:
def myfunction(gender):
    plt.rcParams["figure.figsize"] = [20.00, 10.00]
    plt.rcParams["figure.autolayout"] = True
    f, axes = plt.subplots(2,2, figsize= (15,15))

    fig1 = sns.barplot(x="gender", y="Equity_Market", data = df_gender[df_gender['gender']==gender], ax=axes[0,0], palette='rocket')
    fig1.set_ylim(0,100)
    fig2 = sns.barplot(x="gender", y="Mutual_Funds", data = df_gender[df_gender['gender']==gender], ax=axes[0,1], palette='Oranges_r')
    fig2.set_ylim(0,100)
    fig3 = sns.barplot(x="gender", y="Government_Bonds", data = df_gender[df_gender['gender']==gender], ax=axes[1,0], palette='BuGn')
    fig3.set_ylim(0,100)
    fig4 = sns.barplot(x="gender", y="Fixed_Deposits", data = df_gender[df_gender['gender']==gender], ax=axes[1,1], palette='gnuplot')
    fig4.set_ylim(0,100)

interact(myfunction, gender=['Male', 'Female']);

interactive(children=(Dropdown(description='gender', options=('Male', 'Female'), value='Male'), Output()), _doâ€¦

## Visualization 3

In [23]:
df_age = df.groupby('age', as_index = False).agg({"Mutual_Funds":"sum","Equity_Market":"sum","Government_Bonds":"sum", "Fixed_Deposits":"sum"})

In [25]:
def myfunction(age):
    plt.rcParams["figure.figsize"] = [20.00, 10.00]
    plt.rcParams["figure.autolayout"] = True
    f, axes = plt.subplots(2,2, figsize= (15,15))

    fig1 = sns.barplot(x="age", y="Equity_Market", data = df_age[df_age['age']==age], ax=axes[0,0], palette='Oranges_r')
    fig1.set_ylim(0,35)
    fig2 = sns.barplot(x="age", y="Mutual_Funds", data = df_age[df_age['age']==age], ax=axes[0,1], palette='rocket')
    fig2.set_ylim(0,35)
    fig3 = sns.barplot(x="age", y="Government_Bonds", data = df_age[df_age['age']==age], ax=axes[1,0], palette='gnuplot')
    fig3.set_ylim(0,35)
    fig4 = sns.barplot(x="age", y="Fixed_Deposits", data = df_age[df_age['age']==age], ax=axes[1,1], palette='BuGn')
    fig4.set_ylim(0,35)

interact(myfunction, age=df_age['age']);

interactive(children=(Dropdown(description='age', options=(21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34,â€¦

## Writeup

Author: Reethika Renganathan

Project Title: Comparitive analysis of different Investment Avenues

Idea behind the project:
The main idea behind the project is to identify how and where do people invest their money. We all know it's very important to be aware of all the different investment options that are available to us, but do people actually know where their money can yeild more returns? This project tries to analyze that by creating different visualizations that help you understand how different parametrs like gender and age are plotted against the various investment avenues from a dataset that has entries from different sets of people who have answered a questionnaire on their financial investments. 

Steps to tackle the propblem: 
1.) At the very beginning, since the data collected from the questionnaire had to be refined in such way that all the columns contain values, and to make sure that there are no discrepencies in the data, I tried to clean the data by removing empty data values and making the data uniform.

2.) After cleaning the data to make it uniform, I tried to group the data according to age and then according to gender to find out if there was any relation between a person's age and how they invest. I followed the same procedure for grouping the data according to gender versus the various investment avenues that they invest in. 

3.) Not only did I group them according to age and gender, I also aggregated the values in the investment options by calculating the sum of each option for a set of value chosen. For eg: for all indivuals of the age 27, add all the values for 'Mutual Funds'.

4.) Then, I tried making a fun visualization as a bar plot between Mutual Funds and Age with an interesting interactive feature of 'PanZoom'. Through this visualization, you can see the different levels of investments by people of a certain age in Mutual Funds. With the interactive element, you can zoom in on the figure and see the calculations clearly. 

5.) For the next visualization, I tried creating a dashboard with two plots that interacted with each other. In the first plot, I've created a heatmap which is nothing but a style of representing data values by different colours. With the help of the tool tip on the side, you can identify which colour denotes which value. Usually the value goes from lower to higher. 

6.) The heatmap which has different colours, is basically showing the mean of the total mutual funds in each cell. So when you click on a particular cell, you will come to know the exact value of the mean of the total mutual fund for that particular cell. 

7.) Now with only this heatmap, it's a little difficult for a person to identify what it is trying to explain, so for that, I tried linking this to a bar plot with 'Mutual Funds' as y axis and 'Age' as x axis. 

8.) So by making it interactive, we can observe that for every cell in the heatmap, when you select the Mean of Total Mutual Funds, there is a bar plot with values of different ages and their investment in mutual funds. 

9.) The next two maps are again a way of analyzing how age and gender are related to investment in Mutual Funds, Government Bonds, Equity Market, and Fixed Deposit. 

10.) With the dropdown given at the top, when you select any value in it (gender for the first and age for the second), you will see how the four graphs are changing for a different set of value each time you select something.

## References:
1. https://uiuc-ischool-dataviz.github.io/is445_spring2022/nbv.html?notebook_name=%2Fis445_spring2022%2Fweek07%2FinClass_week07.ipynb
2. https://uiuc-ischool-dataviz.github.io/is445_spring2022/nbv.html?notebook_name=%2Fis445_spring2022%2Fweek05%2FinClass_week05.ipynb

## Dataset:
1. https://www.kaggle.com/datasets/nitindatta/finance-data